{% extends 'baseAdmin.html.twig' %}

{% block title %}Tableau De Bord{% endblock %}

{% block body %}
    <!-- App-Content -->
    <div class="hor-content main-content">
        <div class="container">

            <!--Page header-->
            <div class="page-header">
                <div class="page-leftheader">
                    <h4 class="page-title mb-0 text-primary">Tableau de bord</h4>
                </div>
                <div class="page-rightheader">
                    <div class="btn-list">
                        <button class="btn btn-outline-primary"><i class="fe fe-download me-2"></i>
                            Import</button>
                        <a href="javascript:void(0);"  class="btn btn-primary btn-pill" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-calendar me-2 fs-14"></i> Search By Date</a>
                        <div class="dropdown-menu border-0">
                                <a class="dropdown-item" href="javascript:void(0);">Today</a>
                                <a class="dropdown-item" href="javascript:void(0);">Yesterday</a>
                                <a class="dropdown-item active" href="javascript:void(0);">Last 7 days</a>
                                <a class="dropdown-item" href="javascript:void(0);">Last 30 days</a>
                                <a class="dropdown-item" href="javascript:void(0);">Last Month</a>
                                <a class="dropdown-item" href="javascript:void(0);">Last 6 months</a>
                                <a class="dropdown-item" href="javascript:void(0);">Last year</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--End Page header-->

            <!-- Row-1 -->
            <div class="row">
                <div class="col-xl-3 col-lg-6 col-md-6 col-xm-12">
                    <div class="card overflow-hidden dash1-card border-0 dash1">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-12">
                                    <div class="">
                                        <span class="fs-14 font-weight-normal">Comptes gratuits</span>
                                        <h2 class="mb-2 number-font carn1 font-weight-bold">{{ compteGratuits|length }}</h2>
                                        <span class=""> $0 </span> <a href="{{ path ('compte_gratuits') }}"><span class="ms-1 fs-14" style="color: #ffffff !important;">Afficher</span></a> 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6 col-xm-12">
                    <div class="card overflow-hidden dash1-card border-0 dash2">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-12">
                                    <div class="">
                                        <span class="fs-14">Comptes premiums</span>
                                        <h2 class="mb-2 mt-1 number-font carn2 font-weight-bold">{{ comptePremiums|length }}</h2>
                                        <span class=""> ${{ comptePremiums|length * 16.99 }}</span> <a href="{{ path ('compte_premiums') }}"><span class="ms-1 fs-14" style="color: #ffffff !important;">Afficher</span></a> 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6 col-xm-12">
                    <div class="card overflow-hidden dash1-card border-0 dash4">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-12">
                                    <div class="text-justify">
                                        <span>Cpomptes VIP</span>
                                        <h2 class="mb-2 mt-1 number-font carn2 font-weight-bold">{{ compteVips|length }}</h2>
                                        <span class="">${{ compteVips|length * 18.99 }}</span><a href="{{ path ('compte_vips') }}"><span class="ms-1 fs-14" style="color: #ffffff !important;">Afficher</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6 col-xm-12">
                    <div class="card overflow-hidden dash1-card border-0 dash3">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-12">
                                    <div class="">
                                        <span class="fs-14">Comptes signalés</span>
                                        <h2 class="mb-2 mt-1 number-font carn2 font-weight-bold">{{ compteSignales|length }}</h2>
                                        <span class=""></span><a href="{{ path ('compte_signales') }}"><span class="ms-1 fs-14" style="color: #ffffff !important;">Afficher</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Row-1 -->

            <!-- Row-2 -->
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <div class="card border-success">
                        <div class="card-header">
                            <h3 class="card-title">
                                Top Membres
                            </h3>
                            <div class="card-options">
                                <a href="javascript:void(0);" class="btn btn-sm btn-primary">Tout afficher</a>
                            </div>
                        </div>
                        <div class="card-body p-0">
                            <div class="table-responsive">
                                <table class="table table-hover card-table table-vcenter text-nowrap">
                                    <thead class="border-bottom-0 pt-3 pb-3">
                                        <tr>
                                            <th class="text-center">s.no</th>
                                            <th>Product Category</th>
                                            <th>Product Name</th>
                                            <th>Sale Value</th>
                                            <th>Sale Info</th>
                                            <th>Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="text-center">1</td>
                                            <td><img class="avatat avatar-md brround me-2" src="{{ asset ('build/assetsAdmin/images/orders/7.jpg')}}" alt="img">Books</td>
                                            <td class="fs-13 text-success"><span class="dot-label bg-success me-2 w-2 h-2"></span>Book</td>
                                            <td><span class="font-weight-normal1">$1234</span></td>
                                            <td class="text-muted">3 days ago</td>
                                            <td><span class="badge fs-11 bg-success-transparent text-success ms-2">Regular</span></td>
                                        </tr>
                                        <tr>
                                            <td class="text-center">2</td>
                                            <td><img class="avatat avatar-md brround me-2" src="{{ asset ('build/assetsAdmin/images/orders/5.jpg')}}" alt="img">Sports</td>
                                            <td class="fs-13 text-secondary"><span class="dot-label bg-secondary me-2 w-2 h-2"></span>Shoes</td>
                                            <td><span class="font-weight-normal1">$5436</span></td>
                                            <td class="text-muted">1hr ago</td>
                                            <td><span class="badge fs-11 bg-secondary-transparent text-secondary ms-2">Top Seller</span></td>
                                        </tr>
                                        <tr>
                                            <td class="text-center">3</td>
                                            <td><img class="avatat avatar-md brround me-2" src="{{ asset ('build/assetsAdmin/images/orders/6.jpg')}}" alt="img">Accesories</td>
                                            <td class="fs-13 text-danger"><span class="dot-label bg-danger me-2 w-2 h-2"></span>Watch</td>
                                            <td><span class="font-weight-normal1">$540</span></td>
                                            <td class="text-muted">1 week ago</td>
                                            <td><span class="badge fs-11 bg-danger-transparent text-danger ms-2">Irregular</span></td>
                                        </tr>
                                        <tr>
                                            <td class="text-center">4</td>
                                            <td><img class="avatat avatar-md brround me-2" src="{{ asset ('build/assetsAdmin/images/orders/4.jpg')}}" alt="img">Watches</td>
                                            <td class="fs-13 text-success"><span class="dot-label bg-success me-2 w-2 h-2"></span>Smart Watch</td>
                                            <td><span class="font-weight-normal1">$1543</span></td>
                                            <td class="text-muted">Today</td>
                                            <td><span class="badge fs-11 bg-success-transparent text-success text-success ms-2">Regular</span></td>
                                        </tr>
                                        <tr>
                                            <td class="text-center">5</td>
                                            <td><img class="avatat avatar-md brround me-2" src="{{ asset ('build/assetsAdmin/images/orders/10.jpg')}}" alt="img">speakers</td>
                                            <td class="fs-13 text-info"><span class="dot-label bg-info me-2 w-2 h-2"></span>Head set</td>
                                            <td><span class="font-weight-normal1">$6427</span></td>
                                            <td class="text-muted">Today</td>
                                            <td><span class="badge fs-11 bg-info-transparent text-info ms-2 mb-0">Top Pick</span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Row-2 -->

            <!-- Row-3 -->
            <div class="row row-deck">
                <div class="col-md-12 col-sm-12 col-lg-6 col-xl-6">
                    <div class="card border-primary">
                        <div class="card-header">
                            <h3 class="card-title">
                               Dernières transactions
                            </h3>
                            <div class="card-options">
                                <a href="javascript:void(0);" class="btn btn-sm btn-primary">Tout afficher</a>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="mb-3">
                                <div class="d-flex">
                                    <div class="Recent-transactions-img brround bg-primary text-white font-weight-normal1">AL</div>
                                    <div class="">
                                        <a href="javascript:void(0);" class="font-weight-normal1 mb-1 fs-13">Alberto</a>
                                        <p class="text-muted fs-11">2 hours ago</p>
                                    </div>
                                    <span class="text-success font-weight-normal fs-12 ms-auto">&plus;$543.98</span>
                                </div>
                            </div>
                            <div class="mb-3">
                                <div class="d-flex">
                                    <div class="Recent-transactions-img brround bg-danger text-white font-weight-normal1">HE</div>
                                    <div class="">
                                        <a href="javascript:void(0);" class="font-weight-normal1 mb-1 fs-13">Herrouchi</a>
                                        <p class="text-muted fs-11">6 hours ago</p>
                                    </div>
                                    <span class="text-success font-weight-normal fs-12 ms-auto">&plus;$534.87</span>
                                </div>
                            </div>
                            <div class="mb-3">
                                <div class="d-flex">
                                    <div class="Recent-transactions-img brround bg-warning text-white font-weight-normal1 text-center">AK</div>
                                    <div class="">
                                        <a  href="javascript:void(0);" class="font-weight-normal1 mb-1 fs-13">Alexandra Kiso</a>
                                        <p class="text-muted fs-11">2 days ago</p>
                                    </div>
                                    <span class="text-danger font-weight-normal fs-12 ms-auto">&minus;$132</span>
                                </div>
                            </div>
                            <div class="mb-3">
                                <div class="d-flex">
                                    <div class="Recent-transactions-img brround bg-teal text-white font-weight-normal1 text-center">KW</div>
                                    <div class="">
                                        <a href="javascript:void(0);" class="font-weight-normal1 mb-1 fs-13">kate william</a>
                                        <p class="text-muted fs-11">1 hours ago</p>
                                    </div>
                                    <span class="text-success font-weight-normal fs-12 ms-auto">&plus;$153.45</span>
                                </div>
                            </div>
                            <div class="mb-3">
                                <div class="d-flex">
                                    <div class="Recent-transactions-img brround bg-success text-white font-weight-normal1 text-center">JP</div>
                                    <div class="">
                                        <a href="javascript:void(0);" class="font-weight-normal1 mb-1 fs-13">Jean Powell</a>
                                        <p class="text-muted fs-11">5 hours ago</p>
                                    </div>
                                    <span class="text-danger font-weight-normal fs-12 ms-auto">&minus;$324.78</span>
                                </div>
                            </div>
                            <div class="">
                                <div class="d-flex">
                                    <div class="Recent-transactions-img brround bg-secondary text-white font-weight-normal1 text-center">HC</div>
                                    <div class="">
                                        <a href="javascript:void(0);" class="font-weight-normal1 mb-1 fs-13">Hakino Chen</a>
                                        <p class="text-muted fs-11">21 hours ago</p>
                                    </div>
                                    <span class="text-danger font-weight-normal fs-12 ms-auto">&minus;$3277.78</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                    <div class="card border-info">
                        <div class="card-header">
                            <h3 class="card-title">Revenues mensuels</h3>
                        </div>
                        <div class="card-body">
                            <div class="mb-6">
                                <div class="d-flex align-items-center justify-content-between">
                                    <span class="text-muted fs-13 mb-1">Premium</span>
                                </div>
                                <div class="d-flex justify-content-between mb-1">
                                    <span class="fs-16 font-weight-normal1">$25,854</span>
                                    <span class="text-muted fs-12"><i class="mdi mdi-arrow-up-thick text-success"></i> 40% increase</span>
                                </div>
                                <div class="progress progress-sm">
                                    <div class="progress-bar bg-primary progress-bar-striped progress-bar-animated" style="width: 50%"></div>
                                </div>
                            </div>
                            <div class="mb-6">
                                <div class="d-flex align-items-center justify-content-between">
                                    <span class="text-muted fs-13 mb-1">VIP</span>
                                </div>
                                <div class="d-flex justify-content-between mb-1">
                                    <span class="fs-16 font-weight-normal1">8,654</span>
                                    <span class="text-muted fs-12"><i class="mdi mdi-arrow-up-thick text-success"></i> 62% increase</span>
                                </div>
                                <div class="progress progress-sm">
                                    <div class="progress-bar bg-danger progress-bar-striped progress-bar-animated" style="width: 80%"></div>
                                </div>
                            </div>
                            <div class="mb-6">
                                <div class="d-flex align-items-center justify-content-between">
                                    <span class="text-muted fs-13 mb-1">Monthly Revenue</span>
                                </div>
                                <div class="d-flex justify-content-between mb-1">
                                    <span class="fs-16 font-weight-normal1">$98,654</span>
                                    <span class="text-muted  fs-12"><i class="mdi mdi-arrow-up-thick text-success"></i> 38% increase</span>
                                </div>
                                <div class="progress progress-sm">
                                    <div class="progress-bar bg-success progress-bar-striped progress-bar-animated" style="width: 60%"></div>
                                </div>
                            </div>
                            <div>
                                <div class="d-flex align-items-center justify-content-between">
                                    <span class="text-muted fs-13 mb-1">Monthly Expenses</span>
                                </div>
                                <div class="d-flex justify-content-between mb-1">
                                    <span class="fs-16 font-weight-normal1">$54,456</span>
                                    <span class="text-muted fs-12"><i class="mdi mdi-arrow-down-thick text-danger"></i> 20% decreased</span>
                                </div>
                                <div class="progress progress-sm">
                                    <div class="progress-bar bg-pink progress-bar-striped progress-bar-animated" style="width: 70%"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Row-3 -->

            <!--Row-->
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12">
                    <div class="card border-danger">
                        <div class="card-header">
                            <h3 class="card-title">Reçus</h3>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered card-table table-vcenter text-nowrap" id="datatable">
                                    <thead>
                                        <tr>
                                            <th>Invoice ID</th>
                                            <th scope="row">Customer Name</th>
                                            <th>Customer ID</th>
                                            <th>Date</th>
                                            <th>Order Value</th>
                                            <th>Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <a class="font-weight-normal1" href="">002584611</a>
                                            </td>
                                            <td>Joan Powell</td>
                                            <td>JoanPowell@gmail.com</td>
                                            <td>08/3/2021</td>
                                            <td>$450,870</td>
                                            <td>
                                                <span class="badge bg-success-light border-success fs-11">Paid</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <a class="font-weight-normal1" href="">004641215</a>
                                            </td>
                                            <td>Gavin Gibson</td>
                                            <td>JoanPowell@gmail.com</td>
                                            <td>08/3/2021</td>
                                            <td>$230,540</td>
                                            <td>
                                                <span class="badge bg-danger-light border-danger fs-11">Failed</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <a class="font-weight-normal1" href="">004655445</a>
                                            </td>
                                            <td>Julian Kerr</td>
                                            <td>JoanPowell@gmail.com</td>
                                            <td>08/3/2021</td>
                                            <td>$55,300</td>
                                            <td>
                                                <span class="badge bg-success-light border-success fs-11">Paid</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <a class="font-weight-normal1" href="">004343455</a>
                                            </td>
                                            <td>Cedric Kelly</td>
                                            <td>JoanPowell@gmail.com</td>
                                            <td>08/3/2021</td>
                                            <td>$234,100</td>
                                            <td>
                                                <span class="badge bg-success-light border-success fs-11">Paid</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <a class="font-weight-normal1" href="">004651234</a>
                                            </td>
                                            <td>Junior Sam</td>
                                            <td>JoanPowell@gmail.com</td>
                                            <td>08/3/2021</td>
                                            <td>$43,198</td>
                                            <td>
                                                <span class="badge bg-success-light border-success fs-11">Paid</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <a class="font-weight-normal1" href="">00434567</a>
                                            </td>
                                            <td>Gabriel</td>
                                            <td>JoanPowell@gmail.com</td>
                                            <td>08/3/2021</td>
                                            <td>$230,540</td>
                                            <td>
                                                <span class="badge bg-warning-light border-warning fs-11">Pending</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <a class="font-weight-normal1" href="">004345623</a>
                                            </td>
                                            <td>Zach efron</td>
                                            <td>JoanPowell@gmail.com</td>
                                            <td>08/3/2021</td>
                                            <td>$55,300</td>
                                            <td>
                                                <span class="badge bg-success-light border-success fs-11">Paid</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <a class="font-weight-normal1" href="">004345234</a>
                                            </td>
                                            <td>Mona matty</td>
                                            <td>JoanPowell@gmail.com</td>
                                            <td>08/3/2021</td>
                                            <td>$234,100</td>
                                            <td>
                                                <span class="badge bg-success-light border-success fs-11">Paid</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <a class="font-weight-normal1" href="">004567455</a>
                                            </td>
                                            <td>Samantha May</td>
                                            <td>JoanPowell@gmail.com</td>
                                            <td>08/3/2021</td>
                                            <td>$43,198</td>
                                            <td>
                                                <span class="badge bg-warning-light border-warning fs-11">Pending</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <a class="font-weight-normal1" href="">002584611</a>
                                            </td>
                                            <td>Joan Powell</td>
                                            <td>JoanPowell@gmail.com</td>
                                            <td>08/3/2021</td>
                                            <td>$450,870</td>
                                            <td>
                                                <span class="badge bg-success-light border-success fs-11">Paid</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <a class="font-weight-normal1" href="">004641215</a>
                                            </td>
                                            <td>Gavin Gibson</td>
                                            <td>JoanPowell@gmail.com</td>
                                            <td>08/3/2021</td>
                                            <td>$230,540</td>
                                            <td>
                                                <span class="badge bg-danger-light border-danger fs-11">Failed</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <a class="font-weight-normal1" href="">004655445</a>
                                            </td>
                                            <td>Julian Kerr</td>
                                            <td>JoanPowell@gmail.com</td>
                                            <td>08/3/2021</td>
                                            <td>$55,300</td>
                                            <td>
                                                <span class="badge bg-success-light border-success fs-11">Paid</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <a class="font-weight-normal1" href="">004343455</a>
                                            </td>
                                            <td>Cedric Kelly</td>
                                            <td>JoanPowell@gmail.com</td>
                                            <td>08/3/2021</td>
                                            <td>$234,100</td>
                                            <td>
                                                <span class="badge bg-success-light border-success fs-11">Paid</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <a class="font-weight-normal1" href="">004651234</a>
                                            </td>
                                            <td>Junior Sam</td>
                                            <td>JoanPowell@gmail.com</td>
                                            <td>08/3/2021</td>
                                            <td>$43,198</td>
                                            <td>
                                                <span class="badge bg-success-light border-success fs-11">Paid</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <a class="font-weight-normal1" href="">00434567</a>
                                            </td>
                                            <td>Gabriel</td>
                                            <td>JoanPowell@gmail.com</td>
                                            <td>08/3/2021</td>
                                            <td>$230,540</td>
                                            <td>
                                                <span class="badge bg-warning-light border-warning fs-11">Pending</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <a class="font-weight-normal1" href="">004345623</a>
                                            </td>
                                            <td>Zach efron</td>
                                            <td>JoanPowell@gmail.com</td>
                                            <td>08/3/2021</td>
                                            <td>$55,300</td>
                                            <td>
                                                <span class="badge bg-success-light border-success fs-11">Paid</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <a class="font-weight-normal1" href="">004345234</a>
                                            </td>
                                            <td>Mona matty</td>
                                            <td>JoanPowell@gmail.com</td>
                                            <td>08/3/2021</td>
                                            <td>$234,100</td>
                                            <td>
                                                <span class="badge bg-success-light border-success fs-11">Paid</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <a class="font-weight-normal1" href="">004567455</a>
                                            </td>
                                            <td>Samantha May</td>
                                            <td>JoanPowell@gmail.com</td>
                                            <td>08/3/2021</td>
                                            <td>$43,198</td>
                                            <td>
                                                <span class="badge bg-warning-light border-warning fs-11">Pending</span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End app-content-->
{% endblock %}
