{% extends 'base.html.twig' %}

{% block title %}{% trans %}Tous les membres site de rencontre sérieux des célibataires - Futulove{% endtrans %}{% endblock %}
{% block stylesheets %}
    <style>
        .pagination {
            display: flex;
            justify-content: center;
            margin-top: 20px;
        }

        .pagination .page-item {
            margin: 0 5px;
        }

        .pagination .page-item .page-link {
            color: #007bff;  /* Couleur du texte */
            border: 1px solid #dee2e6;  /* Bordure */
            border-radius: 50%;  /* Forme arrondie */
            padding: 10px 15px;
        }

        .pagination .page-item.active .page-link {
            background-color: #007bff;  /* Couleur de fond pour l'élément actif */
            color: white;
            border-color: #007bff;
        }

        .pagination .page-item .page-link:hover {
            background-color: #0056b3;  /* Couleur de fond au survol */
            color: white;
        }


    </style>
{% endblock %}
{% block body %}

    <!-- breadcrumb section start -->
    <section class="breadcrumb_section">
        <div class="container">
            <div class="row">
                <div class="breadcrumb_content">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12">
                            <div class="breadcrumb_heading">
                                <h2>Tous nos membres</h2>
                                <p class="text-white mt-3">{% trans %}Découvrez des milliers de profils, chaque membre est une nouvelle opportunité{% endtrans %}</p>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6">
                            <div class="breadcrumb_list">
                                <ul class="d-flex list-unstyled p-0 m-0">
                                    <li><a href="{{ path ('accueil')}}">{% trans %}Accueil{% endtrans %}</a></li>
                                    <li>
                                        <div class="scrolldown-btn">
                                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                                x="0px" y="0px" width="12px" height="50px" viewBox="0 0 50 80" enable-background="new 0 0 50 80"
                                                xml:space="preserve">
                                                <path class="first-path" fill="#ff1182"
                                                d="M24.752,79.182c-0.397,0-0.752-0.154-1.06-0.463L2.207,57.234c-0.306-0.305-0.458-0.656-0.458-1.057                  s0.152-0.752,0.458-1.059l2.305-2.305c0.309-0.309,0.663-0.461,1.06-0.461c0.398,0,0.752,0.152,1.061,0.461l18.119,18.119                  l18.122-18.119c0.306-0.309,0.657-0.461,1.057-0.461c0.402,0,0.753,0.152,1.059,0.461l2.306,2.305                  c0.308,0.307,0.461,0.658,0.461,1.059s-0.153,0.752-0.461,1.057L25.813,78.719C25.504,79.027,25.15,79.182,24.752,79.182z">
                                                </path>
                                                <path class="second-path" fill="#ff1182"
                                                d="M24.752,58.25c-0.397,0-0.752-0.154-1.06-0.463L2.207,36.303c-0.306-0.304-0.458-0.655-0.458-1.057                  c0-0.4,0.152-0.752,0.458-1.058l2.305-2.305c0.309-0.308,0.663-0.461,1.06-0.461c0.398,0,0.752,0.153,1.061,0.461l18.119,18.12                  l18.122-18.12c0.306-0.308,0.657-0.461,1.057-0.461c0.402,0,0.753,0.153,1.059,0.461l2.306,2.305                  c0.308,0.306,0.461,0.657,0.461,1.058c0,0.401-0.153,0.753-0.461,1.057L25.813,57.787C25.504,58.096,25.15,58.25,24.752,58.25z">
                                                </path>
                                            </svg>
                                        </div>
                                    </li>
                                    <li>{% trans %}Tous nos membres{% endtrans %}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb section end -->


    <!-- main form section start -->
    {% include "includes/_chercherAmeSoeur.html.twig" %}
    <!-- main form section end -->

    <!-- all member section start -->
    {% set effectif = 0 %}
    {% for membre in membres %}
        {% if (membre.roles[0] == 'ROLE_MEMBRE') and membre.id != id %}
            {% set effectif = effectif + 1 %}
        {% endif %}
    {% endfor %}
    
    <section class="our_customer_section">
        <div class="container">
            <div class="main_heading text-center">
                <h2>{{ effectif|number_format }} {% trans %}profils, une infinité de possibilités.{% endtrans %}</h2>
                <img src="{{ asset ('assets/images/home/heading-img.png') }}" alt="futulove">
                <p class="mt-3">{% trans %}Tous les membres se rencontrent avec plaisir{% endtrans %}</p>
            </div>
            <div class="row mt-5">
                {% for membre in pagination %}
                    <div class="col-xl-3 col-lg-4 col-md-6 mt-4">
                        <div class="acamic_img">
                            <a href="{{ path ('afficher_profil', {'slug': membre.slug}) }}">
                                {% if membre.sexe %}
                                    {% if membre.sexe.id == 1 %}
                                        <img src="{{ membre.photoProfile ? asset ('images/photoProfils/' ~ membre.photoProfile ) : ('images/photoProfils/femme.jpg')}}" alt="{{ membre.nom ?  membre.nom :"" }}" style="height :300px !important">
                                    {% else %}
                                        <img src="{{ membre.photoProfile ? asset ('images/photoProfils/' ~ membre.photoProfile ) : ('images/photoProfils/homme.jpg')}}" alt="{{ membre.nom ?  membre.nom :"" }}" style="height :300px !important">
                                    {% endif %}
                                {% endif %}
                                
                            </a>
                            <div class="customer_details">
                                <h4>{{ membre.nom ?  membre.nom :"" }}</h4>
                                <p>
                                    <i class="fa-solid fa-flag"></i> 
                                    <img src="{{ membre.pays ? asset ('images/drapeaux/' ~ membre.pays.drapeau ) : asset ('images/drapeaux/default.jpeg')  }}" alt="{{ membre.nom ?  membre.nom :"" }}" style="width: 30px; height :30px !important">
                                    <i class="fa-solid fa-globe"></i> {{ membre.pays ? membre.pays.pays: "" }}
                                </p>
                            </div>
                        </div>
                    </div>
                {% endfor %}

                <div class="paginations mt-4">
                    <ul class="lab-ul d-flex flex-wrap justify-content-center mb-1 me-2">
                        {{ knp_pagination_render(pagination) }}
                        
                    </ul>
                </div>
                
            </div>
        </div>
    </section>
    <!-- all member section end -->

    <script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
    <script src="{{ asset ('build/js/axios.min.js') }}"></script> 
    <script src="{{ asset ('build/js/demandeAmities.js') }}"></script> 
    <script src="{{ asset ('build/js/favoris.js') }}"></script>
{% endblock %}
