{% extends 'base.html.twig' %}

{% block title %}
    {% trans %}Album{% endtrans %} - {{ album.titreAlbum }} {% trans %}site de rencontre sérieux des célibataires - Futulove{% endtrans %}
{% endblock %}

{% block body %}

    <!-- breadcrumb section start -->
    <section class="breadcrumb_section">
        <div class="container">
            <div class="row">
                <div class="breadcrumb_content">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12">
                            <div class="breadcrumb_heading">
                                <h2>{% trans %}Album{% endtrans %} - {{ album.titreAlbum }}</h2>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6">
                            <div class="breadcrumb_list">
                                <ul class="d-flex list-unstyled p-0 m-0">
                                    <li><a href="{{ path ('accueil')}}">{% trans %}Accueil{% endtrans %}</a></li>
                                    <li>
                                        <div class="scrolldown-btn">
                                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                                                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="12px"
                                                height="50px" viewBox="0 0 50 80" enable-background="new 0 0 50 80"
                                                xml:space="preserve">
                                                <path class="first-path" fill="#ff1182"
                                                    d="M24.752,79.182c-0.397,0-0.752-0.154-1.06-0.463L2.207,57.234c-0.306-0.305-0.458-0.656-0.458-1.057                  s0.152-0.752,0.458-1.059l2.305-2.305c0.309-0.309,0.663-0.461,1.06-0.461c0.398,0,0.752,0.152,1.061,0.461l18.119,18.119                  l18.122-18.119c0.306-0.309,0.657-0.461,1.057-0.461c0.402,0,0.753,0.152,1.059,0.461l2.306,2.305                  c0.308,0.307,0.461,0.658,0.461,1.059s-0.153,0.752-0.461,1.057L25.813,78.719C25.504,79.027,25.15,79.182,24.752,79.182z">
                                                </path>
                                                <path class="second-path" fill="#ff1182"
                                                    d="M24.752,58.25c-0.397,0-0.752-0.154-1.06-0.463L2.207,36.303c-0.306-0.304-0.458-0.655-0.458-1.057                  c0-0.4,0.152-0.752,0.458-1.058l2.305-2.305c0.309-0.308,0.663-0.461,1.06-0.461c0.398,0,0.752,0.153,1.061,0.461l18.119,18.12                  l18.122-18.12c0.306-0.308,0.657-0.461,1.057-0.461c0.402,0,0.753,0.153,1.059,0.461l2.306,2.305                  c0.308,0.306,0.461,0.657,0.461,1.058c0,0.401-0.153,0.753-0.461,1.057L25.813,57.787C25.504,58.096,25.15,58.25,24.752,58.25z">
                                                </path>
                                            </svg>
                                        </div>
                                    </li>
                                    <li>{% trans %}Album{% endtrans %} - {{ album.titreAlbum }}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb section end -->

    <!-- tab activity section start -->
    <section class="pt-5 main_tabs_section">
        <div class="container mt-5">
            <div class="row">
                <div class="col-xl-8 col-lg-8 col-md-7">
                    <div class="tab_header">
                        <div class="row profile_tabs-main">
                            <div class="main_heading text-center mb-5">
                                <h3>
                                    {% if app.user.id == album.auteur.id %}
                                        {% trans %}Mon album{% endtrans %} - 
                                    {% endif %}
                                    {{ album.titreAlbum }}

                                    {% if app.user.id != album.auteur.id %}
                                        {% trans %}de{% endtrans %} 
                                        <a href="{{ path ('afficher_profil', {'slug': album.auteur.slug })}}">{{ album.auteur.nom }}</a> 
                                    {% endif %}

                                </h3>
                                <img src="{{ asset ('assets/images/home/heading-img.png')}}" alt="futulove">
                                
                                {% if app.user.id == album.auteur.id %}
                                    <a href="{{ path ('modifier_album', {'slug': album.slug }) }}">
                                        <div class="upload_media px-4 mt-4">
                                            <h5 class="mb-0"><i class="fa-solid fa-arrow-up-from-bracket"></i> {% trans %}Ajouter une photo ou modifier{% endtrans %}</h5>
                                        </div>
                                    </a>
                                {% endif %}
                                
                            </div>

                            {% for photo in album.photoAlbums %}
                                {% if photo.supprime == 0 %}
                                    <div class="col-xl-4 col-lg-4 col-md-6 mt-4 mb-2 mt-md-0">
                                        <div class="acamic_img">
                                            <a href="javascript:void(0);">
                                                <img src="{{ asset ('images/photoAlbums/' ~ photo.photoAlbum ) }}" style="height :300px !important" alt="futulove">
                                            </a>
                                        </div>
                                        {% if app.user.id == album.auteur.id %}
                                            <a href="{{ path ('supprimer_photo', {'idPhotoAlbum': photo.id }) }}" class="main-btn btn-sm text-danger">
                                                <i class="fa fa-trash me-2"></i> 
                                                {% trans %}Supprimer{% endtrans %}
                                            </a>
                                        {% endif %}
                                    </div>
                                    
                                {% endif %}
                            {% endfor %}
                            
                            
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-5">
                    
                        {% include "includes/_album.html.twig" %}
                        {# {% include "includes/_actualite.html.twig" %} #}

                        {% if app.user.id == profil.id %}
                            {% include "includes/_favori.html.twig" %}
                        {% endif %}
                            
                </div>
            </div>
        </div>
    </section>
    <!-- tab activity section end -->

    {# <script src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js'></script>  #}
    <script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
    <script src="{{ asset ('js/axios.min.js') }}"></script> 
    <script src="{{ asset ('js/demandeAmitie.js') }}"></script> 
    <script src="{{ asset ('js/signalerCompte.js') }}"></script> 
    <script src="{{ asset ('js/favori.js') }}"></script>
    <script src="{{ asset ('js/bloquerCompte.js') }}"></script>
    <script src="{{ asset ('js/suspendreCompte.js') }}"></script>
    <script src="{{ asset ('js/accepterAmitie.js') }}"></script>
    <script src="{{ asset ('js/refuserAmitie.js') }}"></script>

{% endblock %}


