{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
    <!-- breadcrumb section start -->
	<section class="breadcrumb_section">
		<div class="container">
			<div class="row">
				<div class="breadcrumb_content">
					<div class="row">
						<div class="col-xl-6 col-lg-6">
							<div class="breadcrumb_heading">
								<h2>{% trans %}Contactez-nous{% endtrans %}</h2>
								<p class="text-white mt-3">{% trans %}Contactez-nous, nous sommes là pour vous.{% endtrans %}</p>
							</div>
						</div>
						<div class="col-xl-6 col-lg-6">
							<div class="breadcrumb_list">
								<ul class="d-flex list-unstyled p-0 m-0">
									<li><a href="{{ path ('accueil') }}">{% trans %}Accueil{% endtrans %}</a></li>
									<li>
										<div class="scrolldown-btn">
										<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
											x="0px" y="0px" width="12px" height="50px" viewBox="0 0 50 80" enable-background="new 0 0 50 80"
											xml:space="preserve">
											<path class="first-path" fill="#ff1182"
											d="M24.752,79.182c-0.397,0-0.752-0.154-1.06-0.463L2.207,57.234c-0.306-0.305-0.458-0.656-0.458-1.057                  s0.152-0.752,0.458-1.059l2.305-2.305c0.309-0.309,0.663-0.461,1.06-0.461c0.398,0,0.752,0.152,1.061,0.461l18.119,18.119                  l18.122-18.119c0.306-0.309,0.657-0.461,1.057-0.461c0.402,0,0.753,0.152,1.059,0.461l2.306,2.305                  c0.308,0.307,0.461,0.658,0.461,1.059s-0.153,0.752-0.461,1.057L25.813,78.719C25.504,79.027,25.15,79.182,24.752,79.182z">
											</path>
											<path class="second-path" fill="#ff1182"
											d="M24.752,58.25c-0.397,0-0.752-0.154-1.06-0.463L2.207,36.303c-0.306-0.304-0.458-0.655-0.458-1.057                  c0-0.4,0.152-0.752,0.458-1.058l2.305-2.305c0.309-0.308,0.663-0.461,1.06-0.461c0.398,0,0.752,0.153,1.061,0.461l18.119,18.12                  l18.122-18.12c0.306-0.308,0.657-0.461,1.057-0.461c0.402,0,0.753,0.153,1.059,0.461l2.306,2.305                  c0.308,0.306,0.461,0.657,0.461,1.058c0,0.401-0.153,0.753-0.461,1.057L25.813,57.787C25.504,58.096,25.15,58.25,24.752,58.25z">
											</path>
										</svg>
										</div>
									</li>
									<li>Contact</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- breadcrumb section end -->

	<!-- contact section start -->
	<section class="py-5 contact_section">
		<div class="container">
			<div class="row mt-5">
				<div class="col-xl-6 col-lg-6 col-md-12">
					<div class="contact_contect_main">
						<h3>{% trans %}Besoin d'aide ?{% endtrans %} <span style="color: #FF1182">{% trans %} Nous sommes là pour vous.{% endtrans %} </span></h3>
						<p style="text-align: justify !important;">{% trans %}Votre avis compte, Nous sommes à votre écoute ! Des questions ? Nous avons les réponses. Une préocupation ? Parlons-en ensemble ! Une demande ? Nous sommes à votre disposition.{% endtrans %}</p>
						
						<div class="row mt-5">
							{# <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
								<div class="contact_box d-flex gap-3 ">
									<div class="img_cont">
										<img src="{{ asset ('assets/images/members/1.png') }}" alt="futulove">
									</div>
									<div class="contac_cont">
										<h5>{% trans %}Adresse 1{% endtrans %}</h5>
										<p class="mb-0">1901 Thornridge Cir. Shiloh, Hawaii 81063</p>
									</div>
								</div>
							</div> #}
							{# <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
								<div class="contact_box d-flex gap-3 ">
									<div class="img_cont">
										<img src="{{ asset ('assets/images/members/2.png') }}" alt="futulove">
									</div>
									<div class="contac_cont">
										<h5>{% trans %}Adresse 2{% endtrans %}</h5>
										<p class="mb-0">1901 Thornridge Cir. Shiloh, Hawaii 81063</p>
									</div>
								</div>
							</div> #}
							<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mt-4">
								<div class="contact_box d-flex gap-3 ">
									<div class="img_cont">
										<img src="{{ asset ('assets/images/members/3.png') }}" alt="futulove">
									</div>
									<div class="contac_cont">
										<h5>Email</h5>
										<p class="mb-0"><a href="mailto:futulove@futulove.com">futulove@futulove.com</a></p>
									</div>
								</div>
							</div>
							{# <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mt-4">
								<div class="contact_box d-flex gap-3 ">
									<div class="img_cont">
										<img src="{{ asset ('assets/images/members/4.png') }}" alt="futulove">
									</div>
									<div class="contac_cont">
										<h5>{% trans %}Appelez-nous{% endtrans %}</h5>
										<p class="mb-0"><a href="tel:+1 1234567890">+1 1234567890</a></p>
										<p class="mb-0"><a href="tel:+1 1234567890">+1 1234567890</a></p>
									</div>
								</div>
							</div> #}
							
						</div>
					</div>
				</div>
				<div class="col-xl-6 col-lg-6 col-md-12 mt-5 mt-lg-0">
					<div class="contact-section">
						<div class="sec-title">
							<span class="sub-text">{% trans %}Ecrivez-nous{% endtrans %}</span>
						</div>
						<div class="contact-wrap">
							<form id="contact-form">
								<fieldset>
									<div class="row">
										<div class="col-lg-6 col-md-6 col-sm-6 mb-3">
											<input class="from-control" type="text" id="name" name="name" placeholder="{% trans %}Nom{% endtrans %}" required="">
										</div>
										<div class="col-lg-6 col-md-6 col-sm-6 mb-3">
											<input class="from-control" type="email" id="email" name="email" placeholder="E-Mail" required="">
										</div>
										<div class="col-lg-6 col-md-6 col-sm-6 mb-3">
											<input class="from-control" type="number" id="phone" name="phone" placeholder="{% trans %}Contact{% endtrans %}"
											required="">
										</div>
										<div class="col-lg-6 col-md-6 col-sm-6 mb-3">
											<input class="from-control" type="text" id="subject" name="subject" placeholder="{% trans %}Votre sujet{% endtrans %}"
											required="">
										</div>
										<div class="col-lg-12 mb-3">
											<textarea class="from-control w-100" id="message" name="message" placeholder="{% trans %}Votre message{% endtrans %}"
											required=""></textarea>
										</div>
									</div>
									<div class="btn-part">
										<div class="form-group mb-0">
										<input type="submit" class="readon details main_btn text-white" value="{% trans %}J'envoie mon message{% endtrans %}">
										</div>
									</div>
								</fieldset>
							</form>
							<div id="form-messages"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- contact section end -->

{% endblock %}
