<!doctype html>
<html lang="fr">

    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Trouvez votre moitié - Futulove Dating">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keywords" content="rencontre, amour, célibataire, relation sérieuse, relation amoureuse ,flirt, partenaire,amitié, âme sœur, dating, inscription, profil, mariage, couple, engagement, affinité, site de rencontre, dating, love, single, serious relationship, Relationship, flirt, partner, friendship, soulmate, match, sign up, profile, marriage, couple, commitment, compatibility, Dating, Dating site, Liebe, Single, ernste Beziehung, Liebestzienhung, Flirt, Partner, Freundschaft, Seelenverwandter, Übereinstimmung, Anmeldung, Profil, Heirat, Paar, Engagement, Kompatibilität, citas, amor, soltero, relación seria, coqueteo, pareja, amistad, alma gemela, coincidencia, registro, perfil, matrimonio, pareja, compromiso, compatibilidad, namoro, amor, solteiro, relacionamento sério, flerte, parceiro, amizade, alma gêmea, combinação, cadastro, perfil, casamento, casal, compromisso, compatibilidade, incontri, amore, single, relazione seria, flirt, partner, amicizia, anima gemella, compatibilità, iscrizione, profilo, matrimonio, coppia, impegno, affinità">
        <meta name="robots" content="index, follow">
    
        <!-- Balises Open Graph pour le partage sur les réseaux sociaux -->
        <meta property="og:title" content="https://futulove.com">
        <meta property="og:description" content="Futulove.com est un site de rencontres en ligne qui facilite la mise en relation entre personnes cherchant des relations amoureuses ou amicales. Il propose des fonctionnalités telles que la création de profils, la messagerie privée, et des outils de recherche pour trouver des correspondances basées sur des critères spécifiques. Le site se distingue par son approche moderne de la rencontre, en mettant l'accent sur la sécurité des utilisateurs et une expérience utilisateur conviviale.">
        <meta property="og:image" content="{{ asset ('assets/images/home/favicon.png')}}, l'image d'aperçu sur facebook">
        <meta property="og:url" content="https://www.futulove.com/la-page-préférée-à-référencer">
        <meta property="og:type" content="website">

        <!-- Balises Twitter Cards -->
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:title" content="https://futulove.com">
        <meta name="twitter:description" content="Futulove.com est un site de rencontres en ligne qui facilite la mise en relation entre personnes cherchant des relations amoureuses ou amicales. Il propose des fonctionnalités telles que la création de profils, la messagerie privée, et des outils de recherche pour trouver des correspondances basées sur des critères spécifiques. Le site se distingue par son approche moderne de la rencontre, en mettant l'accent sur la sécurité des utilisateurs et une expérience utilisateur conviviale.">
        <meta name="twitter:image" content="{{ asset ('assets/images/home/favicon.png')}}, l'image d'aperçu sur twitter">

        <link rel="canonical" href="https://www.futulove.com"> 
        <title>Chat site de rencontre sérieux des célibataires - Futulove</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="Tchat futulove" name="description" />
        <meta name="keywords" content="Futulove chat, chat, web chat, chat status, communication, discussion, group chat, message, messenger, status"/>
        <meta content="Themesbrand" name="author" />
        <!-- App favicon -->
        <link rel="icon" type="image/png" href="{{ asset ('assets/images/home/favicon.png')}}">

        <!-- glightbox css -->
        <link rel="stylesheet" href="{{ asset ('assets/libs/glightbox/css/glightbox.min.css')}}">

        <!-- swiper css -->
        <link rel="stylesheet" href="{{ asset ('assets/libs/swiper/swiper-bundle.min.css')}}">

        
        <!-- Bootstrap Css -->
        <link href="{{ asset ('assets/css/bootstrap.min.css')}}" id="bootstrap-style" rel="stylesheet" type="text/css" />
        <!-- Icons Css -->
        <link href="{{ asset ('assets/css/icons.min.css')}}" rel="stylesheet" type="text/css" />
        <!-- App Css-->
        <link href="{{ asset ('assets/css/app.min.css')}}" id="app-style" rel="stylesheet" type="text/css" />

        <!-- All stylesheet and icons css  -->
        <link rel="stylesheet" href="{{ asset ('assets/css/style.css') }}">
        <link rel="stylesheet" href="{{ asset ('assets/css/common.css') }}">
        <link rel="stylesheet" href="{{ asset ('assets/css/responsive.css') }}">
    
    </head>

    <body>
        <!-- ==========Header Section Starts Here========== -->
        {% include "includes/_menu.html.twig" %}
        <!-- ==========Header Section Ends Here========== -->
        {% block stylesheets %}
            {# {{ encore_entry_link_tags('app') }} #}
        {% endblock %}

        {% block javascripts %}
            {# {{ encore_entry_script_tags('app') }} #}
        {% endblock %}

        {% block body %}{% endblock %}

         <!-- chat ok -->
        <script src="{{ asset ('assetsChat/jschat/chattestem.js')}}"></script>
        <script src="{{ asset ('assetsChat/jschat/chatconversationem.js')}}"></script>
        
        <!-- JAVASCRIPT -->
        <script src="{{ asset ('assets/libs/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
        <script src="{{ asset ('assets/libs/simplebar/simplebar.min.js')}}"></script>
        <script src="{{ asset ('assets/libs/node-waves/waves.min.js')}}"></script>
        
        <!-- glightbox js -->
        <script src="{{ asset ('assets/libs/glightbox/js/glightbox.min.js')}}"></script>

        <!-- Swiper JS -->
        <script src="{{ asset ('assets/libs/swiper/swiper-bundle.min.js')}}"></script>

        <!-- fg-emoji-picker JS -->
        <script src="{{ asset ('assets/libs/fg-emoji-picker/fgEmojiPicker.js')}}"></script>

        <!-- page init -->
        <script src="{{ asset ('assetsChat/jschat/index.init.js')}}"></script>
        

    </body>
</html>
