<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
			{% block title %} {% trans %}Connexion site de rencontre sérieux des célibataires - Futulove{% endtrans %}
			{% endblock %}
		</title>
        <!-- x-icon -->
        <link rel="shortcut icon" href="{{ asset ('build/assets/images/x-icon.png')}}" type="image/x-icon">

        <!-- Other css -->
        <link rel="stylesheet" href="{{ asset ('build/assets/css/animate.css')}}">
        <link rel="stylesheet" href="{{ asset ('build/assets/css/bootstrap.min.css')}}">
        <link rel="stylesheet" href="{{ asset ('build/assets/css/icofont.min.css')}}">
        <link rel="stylesheet" href="{{ asset ('build/assets/css/swiper.min.css')}}">
        <link rel="stylesheet" href="{{ asset ('build/assets/css/style.css')}}">
        
        
    </head>

	<body>
		{# On recupère la session #}
		{% set mySession = app.session.get('mySession') %}
		
        <!-- preloader start here -->
        <div class="preloader">
            <div class="preloader-inner">
                <div class="preloader-icon">
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>
        <!-- preloader ending here -->


        
                        
                        

        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {# {{ encore_entry_link_tags('app') }} #}
        {% endblock %}

        {% block javascripts %}
            {# {{ encore_entry_script_tags('app') }} #}
        {% endblock %}

        {% block body %}{% endblock %}
        


        <!-- All Scripts -->
        <script src="{{ asset ('build/assets/js/jquery.js')}}"></script>
        <script src="{{ asset ('build/assets/js/bootstrap.bundle.min.js')}}"></script>
        <script src="{{ asset ('build/assets/js/waypoints.min.js')}}"></script>
        <script src="{{ asset ('build/assets/js/swiper.min.js')}}"></script>
        <script src="{{ asset ('build/assets/js/jquery.counterup.min.js')}}"></script>
        <script src="{{ asset ('build/assets/js/wow.min.js')}}"></script>
        <script src="{{ asset ('build/assets/js/isotope.pkgd.min.js')}}"></script>
        <script src="{{ asset ('build/assets/js/functions.js')}}"></script>
  
  
  
        <script src="{{ asset ('build/js/remplissageProfil.js')}}"></script>
        <script src="{{ asset ('build/js/demandeAmitie.js')}}"></script>
				

	</body>
</html>
