{% extends 'base.html.twig' %}

{% block title %}{% trans %}Mes témoignages site de rencontre sérieux des célibataires - Futulove{% endtrans %}{% endblock %}

{% block body %}
    
    <!-- breadcrumb section start -->
    <section class="breadcrumb_section">
        <div class="container">
            <div class="row">
                <div class="breadcrumb_content">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6">
                            <div class="breadcrumb_heading">
                                <h2>{% trans %}Mes témoignages{% endtrans %}</h2>
                                <p class="text-white mt-3">Votre espace de gestion de vos témoignages</p>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6">
                            <div class="breadcrumb_list">
                                <ul class="d-flex list-unstyled p-0 m-0">
                                <li><a href="{{ path ('accueil')}}">{% trans %}Accueil{% endtrans %}</a></li>
                                <li>
                                    <div class="scrolldown-btn">
                                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                        x="0px" y="0px" width="12px" height="50px" viewBox="0 0 50 80" enable-background="new 0 0 50 80"
                                        xml:space="preserve">
                                        <path class="first-path" fill="#ff1182"
                                        d="M24.752,79.182c-0.397,0-0.752-0.154-1.06-0.463L2.207,57.234c-0.306-0.305-0.458-0.656-0.458-1.057                  s0.152-0.752,0.458-1.059l2.305-2.305c0.309-0.309,0.663-0.461,1.06-0.461c0.398,0,0.752,0.152,1.061,0.461l18.119,18.119                  l18.122-18.119c0.306-0.309,0.657-0.461,1.057-0.461c0.402,0,0.753,0.152,1.059,0.461l2.306,2.305                  c0.308,0.307,0.461,0.658,0.461,1.059s-0.153,0.752-0.461,1.057L25.813,78.719C25.504,79.027,25.15,79.182,24.752,79.182z">
                                        </path>
                                        <path class="second-path" fill="#ff1182"
                                        d="M24.752,58.25c-0.397,0-0.752-0.154-1.06-0.463L2.207,36.303c-0.306-0.304-0.458-0.655-0.458-1.057                  c0-0.4,0.152-0.752,0.458-1.058l2.305-2.305c0.309-0.308,0.663-0.461,1.06-0.461c0.398,0,0.752,0.153,1.061,0.461l18.119,18.12                  l18.122-18.12c0.306-0.308,0.657-0.461,1.057-0.461c0.402,0,0.753,0.153,1.059,0.461l2.306,2.305                  c0.308,0.306,0.461,0.657,0.461,1.058c0,0.401-0.153,0.753-0.461,1.057L25.813,57.787C25.504,58.096,25.15,58.25,24.752,58.25z">
                                        </path>
                                    </svg>
                                    </div>
                                </li>
                                <li>{% trans %}Mes témoignages{% endtrans %}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb section end -->

    <!-- all group section start -->
    <section class="mt-5 group_section">
        <div class="container">
            <div class="row mb-2">
                <div class="col-x-8 col-lg-8 col-md-8">
                    <h5 class="text-bold">{% trans %}Vous avez : {% endtrans %} {{ mesTemoignages|length|number_format }} {% trans %}témoignage(s){% endtrans %}</h5>
                </div>
                <div class="col-x-4 col-lg-4 col-md-4">
                    <div class="upload_media px-4 mb-2">
                        <h5 class="mb-0">
                            <a href="{{ path ('ajout_temoignage')}}" class="text-white">
                                <i class="fa fa-plus me-2 "></i> 
                                {% trans %}Ajouter un témoignage{% endtrans %}
                            </a>
                            
                        </h5>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for temoignage in mesTemoignages %}
                    <div class="col-x-6 col-lg-6 col-md-6">
                        <div class="search-widget_post active-group mb-1">
                            <div class="widget-content">
                                <div class="row align-items-center">
                                    <div class="col-xl-12 col-lg-12 col-md-12 mt-xl-0 mt-4">
                                        <div class="group-item lab-item border-0">
                                            <div class="lab-inner d-flex flex-wrap align-items-center ">
                                                <div class="lab-content w-100">
                                                    <h4 class="mb-3">{{ temoignage.titreTemoignage }}</h4>
                                                    <p style="text-align: justify !important;">{{ temoignage.temoignage }}</p>
                                                    
                                                    <div class="row">
                                                        <div class="col-sm-12 col-md-6 col-lg-6">
                                                            <div class="main_btn mt-4">
                                                                <a href="{{ path ('modifier_temoignage', {'slug': temoignage.slug }) }}" class="main_btn">
                                                                    <i class="fa-solid fa-edit me-2"></i> {% trans %}Modifier{% endtrans %}
                                                                </a>
                                                                <div class="scrolldown-btn">
                                                                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                                                                    xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="12px" height="50px"
                                                                    viewBox="0 0 50 80" enable-background="new 0 0 50 80" xml:space="preserve">
                                                                        <path class="first-path" fill="#000"
                                                                            d="M24.752,79.182c-0.397,0-0.752-0.154-1.06-0.463L2.207,57.234c-0.306-0.305-0.458-0.656-0.458-1.057                  s0.152-0.752,0.458-1.059l2.305-2.305c0.309-0.309,0.663-0.461,1.06-0.461c0.398,0,0.752,0.152,1.061,0.461l18.119,18.119                  l18.122-18.119c0.306-0.309,0.657-0.461,1.057-0.461c0.402,0,0.753,0.152,1.059,0.461l2.306,2.305                  c0.308,0.307,0.461,0.658,0.461,1.059s-0.153,0.752-0.461,1.057L25.813,78.719C25.504,79.027,25.15,79.182,24.752,79.182z">
                                                                        </path>
                                                                        <path class="second-path" fill="#000"
                                                                            d="M24.752,58.25c-0.397,0-0.752-0.154-1.06-0.463L2.207,36.303c-0.306-0.304-0.458-0.655-0.458-1.057                  c0-0.4,0.152-0.752,0.458-1.058l2.305-2.305c0.309-0.308,0.663-0.461,1.06-0.461c0.398,0,0.752,0.153,1.061,0.461l18.119,18.12                  l18.122-18.12c0.306-0.308,0.657-0.461,1.057-0.461c0.402,0,0.753,0.153,1.059,0.461l2.306,2.305                  c0.308,0.306,0.461,0.657,0.461,1.058c0,0.401-0.153,0.753-0.461,1.057L25.813,57.787C25.504,58.096,25.15,58.25,24.752,58.25z">
                                                                        </path>
                                                                    </svg>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-12 col-md-6 col-lg-6">
                                                            <div class="main_btn mt-4">
                                                                <a href="{{ path ('supprimer_temoignage', {'slug': temoignage.slug })}}" class="main_btn">
                                                                    <i class="fa fa-trash me-2"></i>{% trans %}Supprimer{% endtrans %}
                                                                </a>
                                                                <div class="scrolldown-btn">
                                                                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                                                                    xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="12px" height="50px"
                                                                    viewBox="0 0 50 80" enable-background="new 0 0 50 80" xml:space="preserve">
                                                                        <path class="first-path" fill="#000"
                                                                            d="M24.752,79.182c-0.397,0-0.752-0.154-1.06-0.463L2.207,57.234c-0.306-0.305-0.458-0.656-0.458-1.057                  s0.152-0.752,0.458-1.059l2.305-2.305c0.309-0.309,0.663-0.461,1.06-0.461c0.398,0,0.752,0.152,1.061,0.461l18.119,18.119                  l18.122-18.119c0.306-0.309,0.657-0.461,1.057-0.461c0.402,0,0.753,0.152,1.059,0.461l2.306,2.305                  c0.308,0.307,0.461,0.658,0.461,1.059s-0.153,0.752-0.461,1.057L25.813,78.719C25.504,79.027,25.15,79.182,24.752,79.182z">
                                                                        </path>
                                                                        <path class="second-path" fill="#000"
                                                                            d="M24.752,58.25c-0.397,0-0.752-0.154-1.06-0.463L2.207,36.303c-0.306-0.304-0.458-0.655-0.458-1.057                  c0-0.4,0.152-0.752,0.458-1.058l2.305-2.305c0.309-0.308,0.663-0.461,1.06-0.461c0.398,0,0.752,0.153,1.061,0.461l18.119,18.12                  l18.122-18.12c0.306-0.308,0.657-0.461,1.057-0.461c0.402,0,0.753,0.153,1.059,0.461l2.306,2.305                  c0.308,0.306,0.461,0.657,0.461,1.058c0,0.401-0.153,0.753-0.461,1.057L25.813,57.787C25.504,58.096,25.15,58.25,24.752,58.25z">
                                                                        </path>
                                                                    </svg>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                
                
            </div>
        </div>
    </section>
    <!-- all group section end -->

{% endblock %}
